extends layout

block content
  img#logo(logo src="images/pacific.png")
  
  h1 Hello Pacific!
  h3 My instance id is #{instance}
  h3 My host IP is #{hostip}
  h3 My container id is #{container}
  h3 Feel free to reload me!
  